{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/stylegame.css') }}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-9 map">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 60%;">
                    </div>
                </div>
                <svg id="grandEst" width="100%" height="90%" viewBox="307 50 200 200">
                    /<!--LES REGIONS-->
                    <path id="hauteMarne" class="region"
                          d="M 379.09375,139.71875 374.5,140.5 l -0.59375,4.9375 -4.15625,2.96875 -2.15625,-0.75 -1.03125,2.15625 -0.1875,2.96875 3.5625,4.96875 3.375,1.1875 0.78125,4.15625 0.21875,7.125 -1.1875,1.78125 -3.375,0.21875 -2.1875,1.96875 1.59375,1 0.65625,2.5 2.34375,1.3125 3.5,3.71875 4.5,6.0625 -2.53125,2.71875 1.75,1.1875 0.1875,3.3125 3.125,-0.1875 0.78125,1.5625 2.34375,0.1875 1.75,-0.96875 3.125,3.90625 0.40625,0.96875 4.28125,-0.96875 0.8125,-1.96875 0.1875,0.0312 0,-1.96875 2.71875,-1.1875 3.125,1.1875 2.9375,-1.1875 1.75,0 0.59375,-3.9062 0.96875,-1.15625 -1.75,-0.1875 -0.1875,-2.34375 2.71875,-0.59375 0.1875,-1.5625 2.75,0 0,-2.53125 2.15625,-0.78125 -0.59375,-1.5625 0.59375,-0.375 L 412.5625,179 l -2.125,0.78125 0,-4.09375 -5.46875,-2.71875 1.15625,-5.28125 1.75,-1.1875 -0.5625,-1.75 -2.5625,-0.375 -0.5625,-2.5625 -2.34375,0 -2.75,-3.6875 -3.125,-0.21875 -1.34375,-1.9375 1.75,-1.75 -4.125,-4.5 -1.75,-0.59375 -4.6875,-2.34375 -2.53125,-2.71875 -4.09375,-0.59375 -0.0937,-3.75 z"
                          inkscape:label="#path15265" inkscape:connector-curvature="0" style="fill: {{ couleur.hauteMarne }}"/>
                    <path id="basRhin" class="region"
                          d="M 480.71875,112.28125 477,113.3125 l -1.71875,3 0,2.9375 -1.5625,1.375 -1.375,0 -2.53125,-1.78125 -1.96875,1.375 -2.34375,0 -1.9375,-1.9375 -3.71875,-0.59375 -2.15625,-0.96875 -0.78125,-2.9375 -1.75,1.9375 -0.96875,4.5 -2.5625,0.78125 0,2.53125 2.5625,1.1875 1.9375,1.375 -0.78125,1.75 1.78125,1.15625 3.125,-2.34375 5.4375,3.125 -2.3125,4.3125 0.1875,1.375 1.5625,1.5625 -1.1875,4.09375 -3.90625,3.90625 -2.15625,-0.1875 1.375,1.34375 -0.78125,3.53125 L 459.25,155 l 3.71875,0.96875 -0.3125,0.71875 2.9375,-0.15625 1.71875,2.09375 1.53125,1.90625 3.84375,-0.1875 1.71875,4.96875 3,1.3125 -0.0312,-0.625 5.09375,-9.96875 -0.59375,-5.65625 2.34375,-7.625 0.59375,-6.65625 5.0625,-3.6875 0,-2.34375 1.96875,-2.5625 1.5625,0 1.75,-1.75 -0.375,-3.3125 1.75,-4.6875 2.71875,-0.59375 L 496.5313,115 l -4.875,-0.5625 -4.3125,-2.15625 -2.9375,1.75 -1.5625,-1.75 -2.125,0 z"
                          inkscape:label="#path16151" inkscape:connector-curvature="0" style="fill: {{ couleur.basRhin }}"/>
                    <path id="hautRhin" class="region"
                          d="m 465.59375,156.53125 -2.9375,0.15625 -1.84375,4.15625 -2.34375,4.6875 0.59375,2.9375 -1.9375,4.5 -3.34375,2.90625 -0.1875,7.625 -2.4375,2.09375 0.0937,0.0625 0.78125,1.5625 3.125,0.1875 3.53125,2.75 0.5625,1.34375 -0.1875,2.34375 -0.96875,1.78125 0.375,2.34375 2.75,-0.40625 0.59375,2.15625 0.96875,4.15625 2.3125,-0.375 -0.40625,2.125 1.375,1.1875 7.21875,-0.1875 3.71875,-2.9375 0.1875,-4.3125 1.96875,-2.53125 -2.5625,-2.9375 -1.34375,-3.125 1.5625,-2.125 0,-4.90625 0.96875,-2.34375 0,-3.90625 1.75,-2.53125 -1.9375,-2.71875 -0.1875,-5.625 -3,-1.3125 -1.71875,-4.96875 -3.84375,0.1875 -1.53125,-1.90625 -1.71875,-2.09375 z"
                          inkscape:label="#path17033" inkscape:connector-curvature="0" style="fill: {{ couleur.hautRhin }}"/>
                    <path id="moselle" class="region"
                          d="m 423.09375,90.40625 -2.9375,0.1875 -2.34375,1.96875 -0.59375,0.96875 -3.3125,0 -1.15625,-1.1875 -0.5,0 c 0.0771,1.68026 0.15625,2.9375 0.15625,2.9375 l -0.96875,1.53125 2.5,5.34375 0.9375,0.78125 1.15625,3.0625 -1.53125,2.65625 1.71875,1.71875 -0.75,1.53125 0,2.125 -2.125,0 -0.1875,2.46875 4.03125,2.5 -0.1875,3.0625 3.0625,0 1.53125,2.09375 3.8125,0 3.84375,4.8125 0.9375,2.65625 2.5,0 4.96875,2.125 4.40625,2.65625 0,0.78125 2.875,0.1875 3.625,2.09375 3.4375,0 2.875,2.125 3.25,2.28125 2.3125,0.75 3.5,-3.5 1.1875,-4.09375 -1.5625,-1.5625 -0.1875,-1.375 2.3125,-4.3125 -5.4375,-3.125 -3.125,2.34375 -1.78125,-1.15625 0.78125,-1.75 -1.9375,-1.375 -2.5625,-1.1875 0,-2.53125 2.5625,-0.78125 0.96875,-4.5 1.75,-1.9375 0.78125,2.9375 2.15625,0.96875 3.71875,0.59375 1.9375,1.9375 2.34375,0 1.96875,-1.375 2.53125,1.78125 1.375,0 1.5625,-1.375 0,-2.9375 1.71875,-3 -0.40625,0.125 -1.34375,-1.9375 -3.90625,-2.34375 -1.375,-2.15625 -4.6875,0.40625 -2.75,2.53125 -6.625,0.1875 -1.96875,-1.375 c -0.13199,-0.23943 -1.09313,-1.93562 -1.9375,-2.40625 -0.0327,-0.0174 -0.0865,-0.0457 -0.125,-0.0625 -0.0285,-0.0117 -0.0699,-0.0243 -0.0937,-0.0312 -0.0107,-0.005 -0.0512,-0.0255 -0.0625,-0.0312 -0.003,1e-5 -0.0278,-1.4e-4 -0.0312,0 -0.025,-0.001 -0.0737,0 -0.0937,0 -0.91552,1e-5 -2.6881,-1.0275 -2.90625,-1.15625 l -2.75,1.15625 -0.1875,2.34375 -3.3125,0.40625 -1.96875,-3.71875 -1.15625,-0.40625 0,-2.71875 -2.75,-1.1875 -0.1875,-4.6875 -1.96875,-1.9375 -4.09375,-1.96875 -1.9375,0 -0.59375,0.40625 -1.96875,0 -2.71875,-2.34375 z"
                          inkscape:label="#path17046" inkscape:connector-curvature="0" style="fill: {{ couleur.moselle }}"/>
                    <path id="ardennes" class="region"
                          d="m 367.625,55.84375 -1.96875,2.90625 -1.75,1.78125 0,1.75 0,2.34375 -2.34375,1.5625 -4.28125,1.375 -2.34375,0.96875 -2.75,-2.15625 -3.71875,0 -0.53125,3.46875 1.75,3.3125 -1.75,1.5625 -0.1875,2.9375 0.96875,1.5625 -0.78125,2.34375 -2.9375,1.5625 0,2.53125 -3.71875,0.78125 -0.59375,1.5625 2.5625,1.375 -0.78125,2.71875 -0.59375,2.34375 0.125,4.875 4.75,0.125 4.15625,2.59375 0.78125,1.1875 2.1875,0.59375 3.1875,2.375 2.5625,0.1875 0.59375,-0.59375 2.59375,0 1.1875,2.59375 1.375,0 0.8125,-1.1875 4.75,0.1875 0.78125,1 0.59375,0 2,-2 1.78125,1.59375 c 0,0 0.24086,-0.0252 0.28125,-0.0312 l -0.125,-0.8125 2.34375,-1.15625 1.15625,-1.1875 -0.75,-1.9375 -0.21875,-1.375 2.15625,-1.75 0.78125,-3.90625 -2.34375,-2.9375 0.78125,-1.375 1.96875,-3.6875 0.5625,0.78125 2.9375,0 1.375,1.34375 1.75,-1.15625 1.375,-2.25 -1.40625,-0.21875 -0.78125,-3.90625 -1.5625,-1.1875 -5.46875,-0.59375 -0.96875,-2.53125 -1.78125,-1.15625 -6.25,-0.78125 -0.375,-4.5 0.78125,-0.78125 0,-1.75 -3.125,-1.96875 0.59375,-2.15625 0.78125,-1.9375 -1.375,-1.1875 2.15625,-1.9375 0,-3.53125 -0.78125,-0.5625 -2.9375,0 z"
                          inkscape:label="#path15254" inkscape:connector-curvature="0" style="fill: {{ couleur.ardennes }}"/>
                    <path id="meurtheEtMoselle" class="region"
                          d="m 401.59375,88.4375 -2.34375,2.15625 -3.3125,0.1875 -1.15625,1.1875 -0.25,0 -0.125,2.34375 1.15625,1.90625 -0.40625,1.15625 -0.375,1.34375 0.1875,0.75 0.96875,-0.75 L 396.875,97 l 1.9375,-0.1875 3.25,-0.96875 1.71875,1.34375 0.75,1.53125 0.59375,1.71875 0,1.71875 0.9375,0.78125 0,1.3125 -0.9375,1.15625 -0.1875,2.5 0.75,1.15625 0.1875,1.53125 0.1875,2.46875 1.15625,0.96875 1.71875,0.75 -0.75,1.53125 2.09375,1.9375 -1.90625,2.09375 0.375,1.34375 1.90625,0.9375 0,0.96875 -2.28125,0 -0.96875,1.34375 0.1875,0.96875 1.53125,1.53125 -1.3125,3.625 -1.53125,3.4375 0.75,2.125 0,3.4375 0.78125,1.71875 1.125,0 0.59375,0.96875 -1.71875,0 -1.53125,0.75 0,1.15625 1.90625,1.71875 0,2.6875 1.90625,-0.59375 2.875,0.1875 0.1875,3.0625 1.15625,0.40625 -1.34375,0.9375 -0.1875,0.96875 2.09375,0.375 1.34375,1.71875 6.3125,-0.375 1.34375,-2.5 2.875,0 1.15625,-0.9375 1.90625,1.15625 1.71875,-0.59375 2.5,0.1875 2.09375,-0.75 2.09375,-1.53125 1.15625,1.15625 0.1875,-2.6875 1.53125,-0.59375 0.78125,2.5 2.28125,0.1875 2.3125,0.59375 0.9375,0.1875 3.28125,-1.53125 1.71875,-1.15625 1.53125,-1.90625 3.0625,-1.15625 2,-0.4375 -1.125,-1.09375 2.15625,0.1875 0.40625,-0.40625 -2.3125,-0.75 -3.25,-2.28125 -2.875,-2.125 -3.4375,0 -3.625,-2.09375 -2.875,-0.1875 0,-0.78125 -4.40625,-2.65625 -4.96875,-2.125 -2.5,0 -0.9375,-2.65625 -3.84375,-4.8125 -3.8125,0 -1.53125,-2.09375 -3.0625,0 0.1875,-3.0625 -4.03125,-2.5 0.1875,-2.46875 2.125,0 0,-2.125 0.75,-1.53125 L 414.5,108.65625 416.03125,106 l -1.15625,-3.0625 -0.9375,-0.78125 -2.5,-5.34375 0.96875,-1.53125 c 0,0 -0.0791,-1.25724 -0.15625,-2.9375 l -2.625,0 -3.53125,-3.90625 -4.5,0 z"
                          inkscape:label="#path16153" inkscape:connector-curvature="0" style="fill: {{ couleur.meurtheEtMoselle }}"/>
                    <path id="meuse" class="region"
                          d="m 390.125,86.53125 -1.375,2.25 -1.75,1.15625 -1.375,-1.34375 -2.9375,0 -0.5625,-0.78125 -1.96875,3.6875 -0.78125,1.375 2.34375,2.9375 -0.78125,3.90625 -2.15625,1.75 0.21875,1.375 0.75,1.9375 -1.15625,1.1875 -2.34375,1.15625 0.375,2.15625 1,0.1875 -1.75,1.5625 1.34375,2.9375 1.375,4.3125 -1.75,1.9375 3.125,-0.1875 -1.5625,4.875 -2.15625,0.96875 -1.1875,2.9375 1.1875,0.96875 -1.375,2.34375 0.40625,1.5625 3.71875,2.9375 0.1875,6.84375 4.09375,0.59375 2.53125,2.71875 4.6875,2.34375 1.75,0.59375 4.125,4.5 -0.4375,0.4375 3.4375,-0.4375 0,-1.71875 3.84375,-0.78125 0,-1.3125 0.9375,0 0,1.125 3.0625,-0.9375 1.1875,-1.59375 -0.21875,0.0625 0,-2.6875 -1.90625,-1.71875 0,-1.15625 1.53125,-0.75 1.71875,0 -0.59375,-0.96875 -1.125,0 -0.78125,-1.71875 0,-3.4375 -0.75,-2.125 1.53125,-3.4375 1.3125,-3.625 -1.53125,-1.53125 -0.1875,-0.96875 0.96875,-1.34375 2.28125,0 0,-0.96875 -1.90625,-0.9375 -0.375,-1.34375 1.90625,-2.09375 -2.09375,-1.9375 0.75,-1.53125 -1.71875,-0.75 -1.15625,-0.96875 -0.1875,-2.46875 -0.1875,-1.53125 -0.75,-1.15625 0.1875,-2.5 0.9375,-1.15625 0,-1.3125 -0.9375,-0.78125 0,-1.71875 -0.59375,-1.71875 -0.75,-1.53125 -1.71875,-1.34375 -3.25,0.96875 -1.9375,0.1875 -0.9375,1.71875 -0.96875,0.75 -0.1875,-0.75 0.375,-1.34375 0.40625,-1.15625 -1.15625,-1.90625 0.125,-2.34375 -0.9375,0 L 392.8125,88.25 391.25,86.6875 390.125,86.53125 Z"
                          inkscape:label="#path17040" inkscape:connector-curvature="0" style="fill: {{ couleur.meuse }}"/>
                    <path id="vosges" class="region"
                          d="m 459,145.9375 -2,0.4375 -3.0625,1.15625 -1.53125,1.90625 -1.71875,1.15625 -3.28125,1.53125 -0.9375,-0.1875 -2.3125,-0.59375 -2.28125,-0.1875 -0.78125,-2.5 -1.53125,0.59375 -0.1875,2.6875 -1.15625,-1.15625 -2.09375,1.53125 -2.09375,0.75 -2.5,-0.1875 -1.71875,0.59375 -1.90625,-1.15625 -1.15625,0.9375 -2.875,0 -1.34375,2.5 -6.3125,0.375 -1.34375,-1.71875 -2.09375,-0.375 0.1875,-0.96875 1.34375,-0.9375 -1.15625,-0.40625 -0.1875,-3.0625 -2.875,-0.1875 -1.6875,0.53125 -1.1875,1.59375 -3.0625,0.9375 0,-1.125 -0.9375,0 0,1.3125 -3.84375,0.78125 0,1.71875 -3.4375,0.4375 -1.3125,1.3125 1.34375,1.9375 3.125,0.21875 2.75,3.6875 2.34375,0 0.5625,2.5625 2.5625,0.375 0.5625,1.75 -1.75,1.1875 -1.15625,5.28125 5.46875,2.71875 0,4.09375 2.125,-0.78125 1.78125,1.40625 1.34375,-0.8125 -0.75,-1.15625 0.96875,-0.59375 1.34375,1.5625 1.96875,-1.375 0.59375,-1.9375 3.6875,-0.59375 1,0.78125 -0.1875,2.15625 2.53125,1.9375 1.5625,-0.1875 1.75,-1.375 4.09375,0 2.9375,3.3125 0.96875,0 1.5625,-0.96875 0.21875,-1.15625 1.5625,-0.78125 1.75,1.15625 1.75,1.96875 6.15625,3.25 2.4375,-2.09375 0.1875,-7.625 3.34375,-2.90625 1.9375,-4.5 -0.59375,-2.9375 2.34375,-4.6875 2.15625,-4.875 L 459.25,155 l -0.78125,-5.28125 0.78125,-3.53125 -0.25,-0.25 z"
                          inkscape:label="#path17051" inkscape:connector-curvature="0" style="fill: {{ couleur.vosges }}"/>
                    <path id="marne" class="region"
                          d="m 337.375,99.3125 -2.34375,1 0.40625,1.9375 -4.125,0 -3.6875,2.75 0,5.25 2.71875,1.78125 0.78125,1.75 -4.5,0.375 -0.5625,1.78125 1.75,1.15625 -0.78125,1.1875 -1.75,0.78125 0.375,1.34375 2.53125,0 1,1.375 -1.75,1.1875 -1.5625,4.09375 -2.9375,1.375 -1,2.125 -0.96875,1.1875 0.21875,1.15625 -1.5625,1 -0.40625,2.71875 1.5625,0.96875 0.78125,2.9375 -0.96875,1.75 0.59375,1.375 2.90625,-0.1875 0,0.96875 0.84375,-0.1875 3.375,3.5625 4.75,-0.78125 5.5625,-3.78125 3.34375,0 3.375,-2.375 3.96875,-2.1875 2.96875,0.21875 0.40625,3.96875 3.5625,5.34375 3.96875,0 5.5625,-1.1875 3.96875,1.375 4.15625,-2.96875 L 374.5,140.5 379.09375,139.71875 379,136.625 l -3.71875,-2.9375 -0.40625,-1.5625 1.375,-2.34375 -1.1875,-0.96875 1.1875,-2.9375 2.15625,-0.96875 1.5625,-4.875 -3.125,0.1875 1.75,-1.9375 -1.375,-4.3125 -1.34375,-2.9375 1.75,-1.5625 -1,-0.1875 -0.25,-1.34375 c -0.0404,0.006 -0.28125,0.0312 -0.28125,0.0312 l -1.78125,-1.59375 -2,2 -0.59375,0 -0.78125,-1 -4.75,-0.1875 -0.8125,1.1875 -1.375,0 -1.1875,-2.59375 -2.59375,0 -0.59375,0.59375 -2.5625,-0.1875 -3.1875,-2.375 -2.1875,-0.59375 -0.78125,-1.1875 -4.15625,-2.59375 -4.75,-0.125 0.0625,1.78125 -1.375,0.375 -3.3125,-2.15625 z"
                          inkscape:label="#path14337" inkscape:connector-curvature="0" style="fill: {{ couleur.marne }}"/>
                    <path id="aube" class="region"
                          d="m 349.3125,138.6875 -3.96875,2.1875 -3.375,2.375 -3.34375,0 -5.5625,3.78125 -4.75,0.78125 -3.375,-3.5625 -0.84375,0.1875 0,0.59375 -2.71875,1.15625 -0.1875,2.34375 -1.375,1.78125 -0.78125,3.90625 -0.4375,3.28125 1.21875,1 2.34375,0 5.0625,5.28125 -0.59375,5.28125 3.53125,2.71875 1.96875,-1.375 3.125,3.71875 0.375,3.53125 2.15625,2.90625 0.96875,2.15625 7.8125,0.40625 3.90625,-1.96875 1.15625,2.15625 1.375,0.1875 1,-2.15625 6.4375,-0.1875 2.53125,-1.375 0.40625,-2.53125 5.65625,0 0.78125,0.4375 -0.65625,-2.5 -1.59375,-1 2.1875,-1.96875 3.375,-0.21875 1.1875,-1.78125 -0.21875,-7.125 -0.78125,-4.15625 -3.375,-1.1875 -3.5625,-4.96875 0.1875,-2.96875 1.03125,-2.15625 -1.8125,-0.625 -5.5625,1.1875 -3.96875,0 -3.5625,-5.34375 -0.40625,-3.96875 -2.96875,-0.21875 z"
                          inkscape:label="#path15258" inkscape:connector-curvature="0" style="fill: {{ couleur.aube }}"/>
                </svg>
            </div>
            <div class="col-3">
                <!--NAVBAR-->
                <nav class="side-navbar side-open position-fixed">
                    <div class="side-navbar-wrapper">
                        <div class="sidenav-header-inner text-center justify-content-center py-5">
                            <img class="avatar"
                                 src="http://res.cloudinary.com/tiffanym/image/upload/q_100/v1531386850/femme_ga_gajqip.png"
                                 alt="user" class="rounded-circle"/>
                            <h5 class="text-light user-name">Personnage</h5>
                            <p class="text-secondary user-area">{{ banque.money }} K€</p>
                        </div>
                    </div>

                    <div class="side-navbar-wrapper main-container-side text-center">

                        <!--DEVELOPPEMENT BOUTON-->
                        <button class="show-modal-dev open-modal">Développement</button>
                        <!--DEVELOPPEMENT MODALE-->
                        <div class="modal-dev">
                            <a class="close-modal-dev" href="#">X</a>
                            <div class="row dvpt">
                                {% for typeDeveloppement in typeDeveloppements %}
                                <div class="col-4"><h1>{{ typeDeveloppement.type }}</h1>
                                    {% for developpement in typeDeveloppement.developpements %}
                                        <a href="{{ path('achat_developpement', {'id':developpement.id}) }}">
                                            <button class="show-modal-dev open-modal">{{ developpement.nom }}</button>
                                        </a>
                                        <p class="description">{{ developpement.description }}<strong id="prix"> {{ developpement.prix * facteurInflation.facteur |round}}K€</strong></p>

                                    {% endfor %}
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                        <!--EXPANSION BOUTON-->
                        <button class="show-modal-exp open-modal">Expansion</button>
                        <!--EXPANSION MODALE-->
                        <div class="modal-exp">
                            <a class="close-modal-exp" href="#">X</a>
                            <div class="row">
                                <div class="col-6"><h1>Mes Usines</h1>
                                    {% for departement in departements %}
                                    {% if departement.usine == 1 %}
                                    <ul style="list-style-type: none">
                                        <li>{{ departement.nom }}</li>
                                    </ul>
                                    {% endif %}
                                {% endfor %}
                                </div>
                                <div class="col-6"><h1>Départements diponibles</h1>

                                    {% for departement in departements %}
                                    {% if departement.usine == 0 %}
                                            <ul style="list-style-type: none">
                                                <li>{{ departement.nom }}</li>
                                            </ul>
                                    {% endif %}
                                {% endfor %}
                                </div>
                                <a href="{{ path('expansion') }}">
                                    <button>Expansion</button>
                                </a>


                            </div>
                        </div>

                        <!--MAGOUILLE BOUTON-->
                        <button class="show-modal-cheat open-modal">Magouille</button>
                        <!--MAGOUILLE MODALE-->
                        <div class="modal-cheat">
                            <a class="close-modal-cheat" href="#">X</a>
                            <h1>Magouilles</h1>
                            <div class="row">

                                {% for atouts in atout %}
                                    <div class="col-4">
                                            <a href="{{ path('achat_atout', {'id':atouts.id}) }}">
                                                <button class="show-modal-dev open-modal">{{ atouts.nom }}</button>
                                            </a>
                                            <p class="description">{{ atouts.description }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>


                        <div class="info_bulles">
                            <a href="#" class="open btn btn-big"><img src="{{ asset('build/images/ampoule_ga.84585f31.png') }}"></a>
                        </div>
                        <div id="somedialog" class="dialog">
                            <div class="dialog-overlay"></div>
                            <div class="dialog-content">

                                <h2>{{ infobulle.titre }}</h2>
                                <p>{{ infobulle.description }}</p>
                                <p class="text-secondary" style="font-size: 0.9vw;">{{ infobulle.lien }}</p>

                                <div>
                                    <button class="close_info_bulles">J'ai compris !</button>
                                </div>
                            </div>
                        </div>


                    </div>


                </nav>
            </div>
        </div>


    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/stylegame.js') }}"></script>
{% endblock %}
